#profile-top-right {}

.dropDownBtn {
  border: none;
  cursor: pointer;
}

.dropDownDiv {
  display: none;
  /* background-color: green; */
  position: absolute;
  top: 5.7vw;
  right: 1vw;
  width: 25vw;
  /* margin-right: 2vw; */
  padding: 0.5vw;
  border-radius: 1vw;

}

.dropDownBtn:hover+.dropDownDiv {

  display: block;
  padding: 0.5vw;
  background-color: whitesmoke;
}


.profileDetails>img {
  width: 4vw;
  height: 4vw;
  border-radius: 2vw;
}

.profileDetails button {
  border: 0.2vw solid grey;
  color: grey;
  width: 80%;
  border-radius: 1vw;
  margin-left: 3vw;
}