* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
   background:  rgb(212, 212, 212);
}

.header {
   display: flex;
   flex-direction: row;
   position: fixed;
   top: 0;
   width: 100%;
   /* height: 3.5vw; */
   background: white;
}

.header>#wrapping1 {
   display: flex;
   width: 25%;
   align-items: center;
   margin-left: 5rem;
}

.header .logo {
   height: 3rem;
   width: 3re
}

.search-container {
   display: flex;
   /* background: lightblue; */
   width: 90%;
   height: 60%;

}
.search-container img{
   background-color: lightblue;
}

/* .search-logo {
   height: 5vh;
   width: 4vw;
} */

.header>#wrapping2 {
   height: 80%;
   display: flex;
   width: 80%;
   justify-content: space-between;
}



.search-bar {
   background: lightblue;
   /* height: 5vh; */
   width: 50%;
   border: none;
   outline: none;
   transition:  width .35s ease-in-out;

}
.search-bar:focus {
   background-color: lightblue;
   width: 100%;
}

.horizontal-bar {
   margin-top: 0.5rem;
   width: 60%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
}

.horizontal-bar i {
   font-size: 1rem;
   color:#808081;
}
.horizontal-bar  div:hover  p,.horizontal-bar  div:hover  i {
   color: black;
}

/* for centering the icon's name */
.horizontal-bar>div {
   border-bottom:0.3rem solid transparent ;
   text-align: center;
}
.horizontal-bar > div:hover {
 
   border-bottom: 0.3rem solid black;
}
/* for change the link color of icons name  */
/* FIXME: */
a { 
   color: black;
   text-decoration: none;
}

.profile-top-right {
   width: 2vw;
   height: 2vw;
   border-radius: 1vw;
}

/* sections */
.section-container {

   display: grid;
   background: transparent;
   grid-template-columns: 20% 50% 25%;
   padding: 2rem 5rem;
   /* column-gap: 5rem; */
}


/* left panel profile-image */
#profile_img {
   height: 4.5rem;
    width: 4.5rem;
    border-radius: 3rem;
}

.basic-details {
   border: 0.1rem solid silver;
   border-radius: 0.5rem;
   background-color: white;
}

/* .basic-details #background_img {
   width: 100%;
   height: 15vh;
   border-radius: 0.5vw 0.5vw 0 0;
} */

/* basic details for padding left side */
.basic-details2 {
   background: white;
   margin-top: 1rem;
   border-radius: 0.5rem;
   border: 0.1rem solid silver;
   padding: 1rem;
}

/* .basic-details2 li {
   color: red;
   font-size: 1rem;
   list-style-type: none;
   color: silver;
} */

.post-section {
   display: flex;
   /* width: 100%; */
   flex-direction: column;
   border-radius: 1rem;
   border: 0.1rem solid silver;
   background: white;
   margin: 0 0.5rem 0 0.5rem ;
   
}

.post-section>#profile-post {
   margin-top: 1vw;
   display: flex;
   /* width: 100%; */
   justify-content: center;
}

.post-section #profile-picture {
   width: 3vw;
   height: 3vw;
   border-radius: 50%;
}


#profile-post>#post {
   font-size: 1.3rem;
   padding: 1rem;
    width: 80%;
    border: 0.1rem solid gray;
    border-radius: 2rem;
   
}

.post-section #color-icons {
   display: flex;
   justify-content: space-evenly;
   margin-top: 0.5rem;
}

#color-icons div {
   display: flex;
   align-items: center;
   cursor: pointer;
}

#color-icons>div>i {
   margin-right: 1vw;
}

.icon-size {
   font-size: 2vw;
}

.fa-image {
   color: indianred;
}

.fa-video {
   color: orange;
}

.fa-calander {
   color: blue;
}

.fa-pen-nib {
   color: green;
}

.postContainer {
   background-color: white;
   margin: 0.5rem;
   border: 0.1rem solid silver;
   border-radius: 1rem;

}

.postContainer>#upper-subsection {
   margin-top: 0.5rem;
   display: flex;
}

/* postContainer-logo-section */
.myntra-logo {
   margin-right: 1rem;
   height: 4rem;
   width: 4rem;
   border-radius: 1rem;
}

/* menu-right */
#logoAndMenu {
   width: 100%;
   display: flex;
 
   justify-content: space-between;
}

.myntra-poster {
   width: 100%;
}

.reaction {
   display: flex;
   justify-content: space-evenly;
}
hr{
   border: 0.1rem solid silver;
}
.reaction p {
   cursor: pointer;
}

.left_pannel {
   border-radius: 0.5rem;
   margin: 0.5rem;
   height: fit-content;
  
}
.middle_pannel {
   margin: 0.5rem;
}
/* this is for placing the the heading and the information logo in right pannel */
#heading {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}
#subsection ul li{
 list-style-type: none;
   margin: 0.5rem;
}
#subsection ul p{
   margin: 0.5rem;
}

.right_pannel {
   margin: 0.5rem;
   height: fit-content;
}
.right_pannel div{
   margin-bottom: 0.5vw;

}
.right_pannel li {
   color: black;
   font-weight: bolder;

}

.right_pannel p {
   color: darkgray;
   
}

#subsection {
   background-color: white;
   border: 0.1rem solid silver;
   border-radius: 0.5rem;
   /* margin-top: 1.5vw; */
}

#company_follow {
   display: flex;
   flex-direction: column;
}

#company_follow img {
   height: 3vw;
   width: 3vw
}

#company_follow button {
   border: 0.1rem solid #318CE7;
    background-color: white;
    color: #318CE7;
    width: 50%;
    border-radius: 1rem;
    
    padding: 0.3rem;
    transition: all 0.2s;
}

#company_follow button:hover {
   outline: 0.1rem solid #318CE7 ;
   background-color:hsl(202, 62%, 88%);
}

.dropDownBtn {
   border: none;
   cursor: pointer;
}

.dropDownDiv {
   display: none;
   background-color: white;
   position: absolute;
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 3px 3px 40px 0px black;
  
}

#meIcon:hover .dropDownDiv  {
   display: block;
}

.profileDetails img {
   width: 4vw;
   height: 4vw;
   border-radius: 2vw;
}
.profileDetails button {
   border: 0.1rem solid #318CE7;
   background-color: white;
   color: #318CE7;
   width: 90%;
   border-radius: 1rem;
   margin: 0 1rem;
   padding: 0.3rem;
   transition: all 0.2s;
}
.profileDetails button:hover{
   outline: 0.1rem solid #318CE7 ;
   background-color:hsl(202, 62%, 88%);
}
.dropDownProfileDetails{
   display: flex;
   justify-content: space-evenly;
}
.premiumPara{
 display: flex;
 width: 30%;
    text-decoration: underline;
   text-align: center; 
   align-items: center;
   justify-content: center;
   color:goldenrod;
   
}
.infoIconSize{
   font-size: 1.5rem;
}
.forBusiness{
   border-left: 0.2rem solid black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 1rem;
}
.forBusiness img{
   width: 2rem;
   height: 2rem;
}
@media screen and (max-width:768px) {
   * {
      font-size: 2.5vw;
   }
   .header {
      display: flex;
      flex-direction: column;
      width: 100vw;
      /* height: 6vw; */
      background:palevioletred;
   }
   .header>#wrapping1 {
      padding: 1vw;
      display: flex;
      width: 100%;
      height: 80%;
   }
 .logo{
   width: 5vw !important;
   height: 5vw !important ;
 }
  .Notifications{
    font-size: 2vw !important;
  } 
  .rightProfileDiv{
   height: 100%;
  }
   .right_pannel,
   .left_pannel {
      display: none;
     
   }

   /* .middle_pannel {
      margin: 1vw;
   } */

   .section-container {
      grid-template-columns: 100vw;
   } 

   /* .horizontal-bar {
      padding: 1.5vw;
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
      border-right: none;
      height: 100%;

   } */

   .header>#wrapping2 {
      display: flex;
      width: 100%;
   }

   
}

.bgAndProfilePicContainer {
   background-image: url(./images/background.jpg);
   background-repeat: no-repeat;
   background-size: 100% 50%;
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
}

.flex {
   display: flex;
   justify-content: space-between;
   padding-right: 0.2rem;
}
.companylogoName{
   display: flex;
   flex-direction: row;
  
}
.rightProfileDiv {
   display: flex;
   justify-content: space-between;
   padding-right: 1rem;
   width: 40%;
}
.meIcon{
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.smallReactionIcons {

   display: flex;
   justify-content: space-evenly;
   width: 30%;
   height: 3rem;
   align-items: center;
   cursor: pointer;
}

.Notifications{
   position: relative;
   background-color: #32de84;
   /* padding: 0.2vw; */
   font-size: 1vw;
   font-weight: bolder;
   border-radius: 1vw;
   top: -0.2vw;
   left: -0.8vw;
   /* z-index: 1; */
}

.margin {
   margin-left: 0.5rem;
}
.basic-details2 ul li{
  
   list-style-type: none;
   color: silver;
   margin: 0.5rem;
   font-size: 1rem;
}

