* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   /* background-color: grey; */
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
   background: #EEEDE7;
}
h1,h2,h3{
   color:rgb(88, 88, 88)
}

.navbar{
   display: flex;
   position: fixed;
   top: 0;
   width: 100%;
   background: white;
}
#wrapping1 {
   display: flex;
   width: 25%;
   align-items: center;
   padding-left: 3rem;
}

.logo {
   height: 3rem;
   width: 3rem;
}

.search-container {
   display: flex;
   width: 90%;
   height: 60%;

}
.search-container img{
 background-color: lightblue;
}


#wrapping2 {
  
   display: flex;
   width: 75%;

}



.search-bar {
   background: lightblue;
   /* height: 5vh; */
   width: 50%;
   border: none;
   outline: none;
   transition:  width .35s ease-in-out;

}
.search-bar:focus {
   background-color: lightblue;
   width: 100%;
}

.horizontal_bar {
   margin-top: 1rem;
   width: 60%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   /* height: 100%; */
}

.horizontal_bar i {
   font-size: 1.5rem;
   color:#808081;
}
.horizontal_bar a{
   text-decoration: none;
   color: #808081;
}
       
.horizontal_bar  div:hover i, .horizontal_bar  div:hover p{
   color: black;
}


/* for centering the icon's name */
.horizontal_bar>div {
   border-bottom:0.3rem solid transparent ;
   text-align: center;
}
.horizontal_bar > div:hover {
 
   border-bottom: 0.3rem solid black;
}

/* for change the link color of icons name  */
/* FIXME: */


.profile-top-right {
   width: 2rem;
   height: 2rem;
   border-radius: 2rem;
}

/* sections */
.section-container {

   display: grid;
   background: transparent;
   grid-template-columns: 20% 50% 30%;
   padding: 3rem 2.5rem;
margin-top: 2rem;
}


/* left panel profile-image */
#profile_img {
   height: 4.5rem;
    width: 4.5rem;
    border-radius: 3rem;
}

.basic-details {
   border: 0.1rem solid silver;
   border-radius: 0.5rem;
   background-color: white;
}

/* .basic-details #background_img {
   width: 100%;
   height: 15vh;
   border-radius: 0.5vw 0.5vw 0 0;
} */

/* basic details for padding left side */
.basic-details2 {
   background-color: white;
   margin-top: 1rem;
   border-radius: 0.5rem;
   border: 0.1rem solid silver;
   padding: 1rem;
}

/* .basic-details2 li {
   color: red;
   font-size: 1rem;
   list-style-type: none;
   color: silver;
} */

.post-section {
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   border: 0.1rem solid silver;
   background: white;
   margin: 0 0.5rem 0 0.5rem ;
   
}

.post-section>#profile-post {
   margin-top: 1vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.post-section #profile-picture {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
}


#profile-post>#post {
   font-size: 1.3rem;
   padding: 1rem;
    width: 80%;
    height: 3rem;
    border: 0.1rem solid gray;
    border-radius: 2rem;
   outline: none;
}

.post-section #color-icons {
   display: flex;
   justify-content: space-evenly;
   margin-top: 0.5rem;
}

#color-icons div {
   display: flex;
   align-items: center;
   cursor: pointer;
}

#color-icons>div>i {
   margin-right: 1vw;
}

.icon-size {
   font-size: 2vw;
}

.fa-image {
   color: indianred;
}

.fa-video {
   color: orange;
}

.fa-calander {
   color: blue;
}

.fa-pen-nib {
   color: green;
}

.sortByTopContainer{
   margin: 0.5rem;
   /* width: 100%; */
   display: flex;
   height: 2rem;
}
.divideLine{
   display: flex;
   /* justify-content: center; */
   align-items: center;
   width: 70%;
   /* background-color: #32de84; */
}
.sortbyTopPara{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30%;
cursor: pointer;
}
.postContainer {
   background-color: white;
   margin: 0.5rem;
   border: 0.1rem solid silver;
   border-radius: 1rem;

}

.postContainer>#upper-subsection {
   margin-top: 0.5rem;
   display: flex;
}

/* postContainer-logo-section */
.myntra-logo {
   margin-right: 1rem;
   height: 4rem;
   width: 4rem;
   border-radius: 1rem;
}

/* menu-right */
#logoAndMenu {
   width: 100%;
   display: flex;
 
   justify-content: space-between;
}

.myntra-poster {
   width: 100%;
}

.reaction {
   display: flex;
   justify-content: space-evenly;
}
hr{
   border: 0.1rem solid silver;
}
.reaction p {
   cursor: pointer;
}

.newPostBtnContainer{
   display: none;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 5rem;
}
.newPostBtnContainer >button{
   width: 10rem;
   /* padding: 2rem; */
   font-size: 1.2rem;
   color: #318CE7;
   height: 3rem; 
   background-color: white;
    border-radius: 1.2rem;
 border: 0.1rem solid #318CE7 ;
 transition: all 0.3s ;
}
.newPostBtnContainer >button:hover{
   background-color:hsl(202, 62%, 88%);
   border-radius: 2rem;
   outline: 0.1rem solid #318CE7;

}
.left_pannel {
   border-radius: 0.5rem;
   margin: 0.5rem;
   height: fit-content;
  
}
.showMoreBtnContainer{
   /* background-color: red; */
   display: none;
   /* grid-row:2/2 ; */
   justify-content: center;
   height: 2rem;
}

.left_pannel p{
   color: grey;
}
.middle_pannel {
   margin: 0.5rem;
}

/* this is for placing the the heading and the information logo in right pannel */
#heading {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}
#subsection ul li{
 list-style-type: none;
   margin: 0.5rem;
}
#subsection ul p{
   margin: 0.5rem;
}

.right_pannel {
   margin: 0.5rem;
   height: fit-content;
}
.right_pannel div{
   margin-bottom: 0.5vw;

}


.right_pannel p {
   color: darkgray;
   
}

#subsection {
   background-color: white;
   border: 0.1rem solid silver;
   border-radius: 0.5rem;
   /* margin-top: 1.5vw; */
}

#company_follow {
   display: flex;
   flex-direction: column;
}

#company_follow img {
   height: 3vw;
   width: 3vw
}

#company_follow button {
   border: 0.1rem solid #318CE7;
    background-color: white;
    color: #318CE7;
    width: 10rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    padding: 0.3rem;
    transition: all 0.2s;
}

#company_follow button:hover {
   outline: 0.1rem solid #318CE7 ;
   background-color:hsl(202, 62%, 88%);
}

.dropDownBtn {
   border: none;
   cursor: pointer;
}

.dropDownDiv {
   display: block;
   background-color: white;
   position: absolute;
   padding: 1rem;
   top:4.2rem;
   right: 5.5rem;
   border-radius: 1rem;
   box-shadow: 3px 3px 40px 0px black;
  
}
.profileDetails p{
   color: grey;
}
#logoAndMenu div p{
   color: grey;
}
.meIcon:hover .dropDownDiv{
   display: block;
}

.profileDetails img {
   width: 4vw;
   height: 4vw;
   border-radius: 2vw;
}
.profileDetails button {
   border: 0.1rem solid #318CE7;
   background-color: white;
   color: #318CE7;
   width: 90%;
   border-radius: 1rem;
   margin: 0 1rem;
   padding: 0.3rem;
   transition: all 0.2s;
}
.profileDetails button:hover{
   outline: 0.1rem solid #318CE7 ;
   background-color:hsl(202, 62%, 88%);
}
.dropDownProfileDetails{
   display: flex;
   justify-content: space-evenly;
}
.premiumPara{
 display: flex;
 width: 40%;
    text-decoration: underline;
   text-align: center; 
   align-items: center;
   justify-content: center;
   color:goldenrod;
   
}
.infoIconSize{
   font-size: 1.5rem;
}
.forBusiness{
   border-left: 0.1rem solid rgb(241, 236, 236);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 1rem;
}
.forBusiness img{
   width: 2rem;
   height: 2rem;
   cursor: pointer;
}
.footerContainer{
   background-color:#EEEDE7 ;
}
.footerElm{
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
}
.footerElm  li{
   
   margin: 0.5rem;
   /* font-size: 1rem; */
   color: grey;
   cursor: pointer;

}
.footerElm li:hover{
   text-decoration: underline ;
   color: #318CE7;
}


.bgAndProfilePicContainer {
   background-image: url(./images/background.jpg);
   background-repeat: no-repeat;
   background-size: 100% 50%;
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
}
.showMoreBtn{
   /* display: block; */
   width: 98%;
   padding: 0.5rem;
   color: grey;
   background-color:#EEEDE7;
   border: none;
   cursor: pointer;
   transition: all 0.2s ;
   
}
.showMoreBtn:hover{
  background-color:  rgb(204, 204, 204);
}

.flex {
   display: flex;
   justify-content: space-between;
   padding-right: 0.2rem;
}
.companylogoName{
   display: flex;
   flex-direction: row;
  
}
.rightProfileDiv {
   display: flex;
   justify-content: space-between;
   padding-right: 1rem;
   width: 40%;
}
.meIcon{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.smallReactionIcons {

   display: flex;
   justify-content: space-evenly;
   width: 30%;
   height: 3rem;
   align-items: center;
   cursor: pointer;
}

.Notifications{
   position: relative;
   background-color: #32de84;
   /* padding: 0.2vw; */
   font-size: 1rem;
   font-weight: bolder;
   border-radius: 1rem;
   top: -0.2vw;
   left: -0.8vw;
   /* z-index: 1; */
}

.margin {
   margin-left: 0.5rem;
}
.basic-details2 ul li{
  
   list-style-type: none;
   color: silver;
   margin: 0.5rem;
   font-size: 1rem;
}
.searchIcon{
   display: none;
   position: relative;
   /* background-color: #32de84; */
}

.searchContainer{
 display: none   ;
 position: absolute;
 top: -1.2rem;
 left: -0.5rem;
 z-index: 100;
 width: 99vw;
 padding-top: 0.5rem;
 /* justify-content: center; */
 height: 4.3rem;
 align-items: center;
 /* border-radius: 0.5rem; */
background-color:white;
/* transition: all 5s ; */
/* text-align: left ; */

}
.searchInput{
   width: 10%;
   height: 2.5rem;
   border-radius: 0.3rem;
   /* background-color: #318CE7; */
 transition: width 0.7s  ;

}
.searchIcon:hover .searchContainer {
 
    display: flex ;
   
}
.searchContainer:hover .searchInput{
   width: 90%;
}
/* media query */
 @media screen and (max-width:992px) {
    
   .searchIcon{
      display: block;
   }
 
   .search-container{
      display: none;
   }
   .navbar>#wrapping1 {
      width: 5%;
      padding-left:0;
   }
 
   .section-container{
      grid-template-columns: 30% 65%;
   }

.right_pannel {
   grid-row: 2/2;
    grid-column: 2/2;
}
.newPostBtnContainer{
   display: flex;
}
#wrapping2 {
width: 95%;}

 } 

 @media screen and (max-width:768px) {

 
    .navbar  a p, .meIcon > p,.forBusiness p {
      display: none;
    }
    .section-container{
      grid-template-columns: 100%;
      padding: 2.5rem ;
      /* row-gap: 1rem; */
    }
    .searchContainer{
      padding-top: 1rem;
      height: 4rem;
      top:-2.2rem
    }
    .premiumPara{
      font-size: 0.6rem;
    }
    /* .searchInput{
      margin: 0.2rem;
    } */
   .middle_pannel{
      grid-row: 3/3;
    
   }
 
   .right_pannel{
      grid-column: 1/1;
      grid-row: 4/4;
    
   }
   .showMoreBtnContainer {
       display: flex;
       align-items: center;
      
    }
   .basic-details2{
      display: none;
   }
.showMoreContainer{
   display: none;
 }
 .showMoreBtn:hover .showMoreContainer{
   display: block;
 }
 .post-section{
   margin: 0;
 }
 .postContainer{
   margin: 0;
   margin-bottom: 0.5rem;
 }
 .horizontal_bar i{
   font-size: 1.3rem;
 }
}
@media screen and (max-width:425px) {
   html{
      font-size: 60%;
   }
   .premiumPara{
      font-size: 0.8rem;
   }


}