* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
   background: #EEEDE7;
}
h1,h2,h3{
   color:rgb(88, 88, 88)
}

.navbar{
   display: flex;
   position: fixed;
   top: 0;
   width: 100%;
   background: white;
   z-index: 100;
}
#wrapping1 {
   display: flex;
   width: 25%;
   align-items: center;
   padding-left: 3rem;
}

.logo {
   height: 3rem;
   width: 3rem;
}

.search-container {
   display: flex;
   width: 90%;
   height: 60%;

}
.search-container img{
 background-color: lightblue;
}

#wrapping2 {
   display: flex;
   width: 75%;
}

.search-bar {
   background: lightblue;
   width: 50%;
   border: none;
   outline: none;
   transition:  width .35s ease-in-out;

}
.search-bar:focus {
   background-color: lightblue;
   width: 100%;
}

.horizontal_bar {
   margin-top: 1rem;
   width: 60%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.horizontal_bar i {
   font-size: 1.5rem;
   color:#808081;
}
.horizontal_bar a{
   text-decoration: none;
   color: #808081;
}
       
.horizontal_bar  div:hover i, .horizontal_bar  div:hover p{
   color: black;
}

.Notifications{
   position: relative;
   background-color: #32de84;
   font-size: 1rem;
   font-weight: bolder;
   border-radius: 1rem;
   color: rgb(88, 88, 88);
   top: -0.2rem;
   left: -0.8rem;
}
.Notifications:hover{
   top:-0.5rem ;
}

/* for centering the icon's name */
.horizontal_bar>div {
   border-bottom:0.3rem solid transparent ;
   text-align: center;
}
.horizontal_bar > div:hover {
 
   border-bottom: 0.3rem solid black;
}
.searchIcon{
   display: none;
   position: relative;
}

.searchContainer{
 display: none   ;
 position: absolute;
 top: -1.2rem;
 left: -0.5rem;
 z-index: 100;
 width: 99vw;
 padding-top: 0.5rem;
 height: 4.3rem;
 align-items: center;
background-color:white;
}
.searchInput{
   width: 10%;
   height: 2.5rem;
   border-radius: 0.3rem;
 transition: width 0.7s  ;

}
.searchIcon:hover .searchContainer {
    display: flex ; 
}
.searchContainer:hover .searchInput{
   width: 90%;
}
.rightProfileDiv {
   display: flex;
   justify-content: space-between;
   
   width: 40%;
}
.meIcon{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
cursor: pointer;
}
.profile-top-right {
   width: 2rem;
   height: 2rem;
   border-radius: 2rem;
}
.dropDownDiv{
   display: none;
   background-color: white;
   position: absolute;
   padding: 1rem;
   top:4.2rem;
   right: 5.5rem;
   border-radius: 1rem;
   box-shadow: 3px 3px 40px 0px black;
}
.dropDownDiv p{
   color: grey;
}

.meIcon:hover .dropDownDiv{
   display: block;
}

.dropDownDiv img {
   width: 4vw;
   height: 4vw;
   border-radius: 2vw;
}
.dropDownDiv button {
   border: 0.1rem solid #318CE7;
   background-color: white;
   color: #318CE7;
   width: 90%;
   border-radius: 1rem;
   margin: 0 1rem;
   padding: 0.3rem;
   transition: all 0.2s;
}
.dropDownDiv button:hover{
   outline: 0.1rem solid #318CE7 ;
   background-color:hsl(202, 62%, 88%);
}
.dropDownProfileDetails{
   display: flex;
   justify-content: space-evenly;
}
.premiumPara{
 display: flex;
 width: 40%;
    text-decoration: underline;
   text-align: center; 
   align-items: center;
   justify-content: center;
   color:goldenrod;
   
}

.forBusiness{
   border-left: 0.1rem solid rgb(241, 236, 236);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-left: 1rem;
}
.forBusiness img{
   width: 2rem;
   height: 2rem;
   cursor: pointer;
}

/* sections */
.section-container {
   display: grid;
   background: transparent;
   grid-template-columns: 20% 50% 30%;
   padding: 3rem 2.5rem;
margin-top: 2rem;
}

.left_pannel {
   border-radius: 0.5rem;
   margin: 0.5rem;
   height: fit-content;
  
}

/* left panel profile-image */


.basic-details {
   border: 0.1rem solid silver;
   border-radius: 1rem 1rem 0 0;
   border-bottom: none;
   background-color: white;
}

.bgAndProfilePicContainer {
   background-image: url(./images/background.jpg);
   background-repeat: no-repeat;
   background-size: 100% 50%;
   height: 7rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.9rem;
}
.showMoreContainer{
   display: block;
   /* background-color: white; */
   
}
.connectionToMyitemsDiv{
   background-color: white;
    border-radius: 0 0 1rem 1rem;
    border: 0.1rem solid silver;
}

#profile_img {
   height: 4.5rem;
    width: 4.5rem;
    border-radius: 3rem;
}
.showMoreContainer:hover{
   display: block;
 }


 .flex {
   display: flex;
   justify-content: space-between;
   padding-right: 0.2rem;
}
.margin {
   margin-left: 0.5rem;
}

.basic-details2 {
   background-color: white;
   margin-top: 1rem;
   border-radius: 1rem;
   border: 0.1rem solid silver;
   padding: 1rem;
}
.basic-details2 ul li{
   list-style-type: none;
   color: silver;
   margin: 0.5rem;
   font-size: 1rem;
}
.showMoreBtnContainer{
   display: none;
   justify-content: center;
   height: 2.5rem;
   
   
}
.showMoreBtnContainer:hover + .showMoreContainer{
   display: block;
}
.showMoreBtn{
   
   width: 100%;
   padding: 0.5rem;
   color: rgb(82, 81, 81);
   margin-top: 1rem;
   background-color: transparent;
   border: none;
   cursor: pointer;
   transition: all 0.2s ;  
}
.showMoreBtn:hover{
  background-color:  rgb(204, 204, 204);
}
.middle_pannel {
   margin: 0.5rem;
}

.post-section {
   border-radius: 1rem;
   border: 0.1rem solid silver;
   background: white;
   margin: 0 0.5rem 0 0.5rem ;
}
#profile-post{
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

#profile-picture{
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
}

#post {
   font-size: 1.3rem;
   padding: 1rem;
    width: 80%;
    height: 3rem;
    border: 0.1rem solid gray;
    border-radius: 2rem;
   outline: none;
}

#color-icons {
   display: flex;
   justify-content: space-evenly;
   margin-top: 0.5rem;
}

#color-icons div {
   display: flex;
   align-items: center;
   cursor: pointer;
}

#color-icons>div>i {
   margin-right: 1rem;
}

.icon-size {
   font-size: 2rem;
}

.fa-image {
   color: indianred;
}

.fa-video {
   color: orange;
}

.fa-calander {
   color: blue;
}

.fa-pen-nib {
   color: green;
}

.sortByTopContainer{
   margin: 0.5rem;
   display: flex;
   height: 2rem;
}
.divideLine{
   display: flex;
   align-items: center;
   width: 70%;
}
.sortbyTopPara{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30%;
cursor: pointer;
}
.postContainer {
   background-color: white;
   margin: 0.5rem;
   border: 0.1rem solid silver;
   border-radius: 1rem;

}

#upper-subsection {
   margin-top: 0.5rem;
   display: flex;
}

.postLogoImg{
   margin-right: 1rem;
   height: 4rem;
   width: 4rem;
   border-radius: 1rem;
}

/* menu-right */
#logoAndMenuIcon{
   width: 100%;
   display: flex;
 
   justify-content: space-between;
}
.smallReactionIcons{
   display: flex;
   justify-content:flex-start;
   width: 50%;
   height: 3rem;
   align-items: center;
   cursor: pointer;
}
.smallReactionIcons img{
   
   width: 1.5rem;
   height: 1.5rem;
   transition:  all 0.3s ease-in-out ;

}

.smallReactionIcons img:hover{
   margin-top: -1.5rem;
   width: 2rem;
   height: 2rem;
}

.myntra-poster{
   width: 100%;
}

.reactionIcons {
   display: flex;
   justify-content: space-evenly;
}
hr{
   border: 0.1rem solid silver;
}
.reactionIcons p {
   cursor: pointer;
}

.newPostBtnContainer{
   display: none;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 5rem;
}
.newPostBtnContainer >button{
   width: 10rem;
   font-size: 1.2rem;
   color: #318CE7;
   height: 3rem; 
   background-color: white;
    border-radius: 1.2rem;
 border: 0.1rem solid #318CE7 ;
 transition: all 0.3s ;
}
.newPostBtnContainer >button:hover{
   background-color:hsl(202, 62%, 88%);
   border-radius: 2rem;
   outline: 0.1rem solid #318CE7;

}


/* this is for placing the the heading and the information logo in right pannel */
.right_pannel{
   margin: 0.5rem;
   height: fit-content;
}
.right_pannel p {
   color: darkgray;
 }
#heading{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

#subsection{
   background-color: white;
   border: 0.1rem solid silver;
   border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.infoIconSize{
   font-size: 1.3rem;
}
#subsection ul {
 list-style-type: none;
   margin-left: 0.5rem;
}
#subsection ul p{
   margin: 0.5rem;
}

#company_follow {
margin-left: 0.5rem;
}
.companyfollowDetails{
   display: flex;
}

#company_follow img {
   height: 3rem;
   width: 3rem;
   margin: 0.3rem;
}

#company_follow button {
   border: 0.1rem solid #318CE7;
    background-color: white;
    color: #318CE7;
    width: 10rem;
    font-size: 1rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    padding: 0.3rem;
    transition: all 0.2s;
}

#company_follow button:hover {
   outline: 0.1rem solid #318CE7 ;
   background-color:hsl(202, 62%, 88%);
  
}
.footerElm{
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
}
.footerElm  li{
   margin: 0.5rem;
   color: grey;
   cursor: pointer;
}
.footerElm li:hover{
   text-decoration: underline ;
   color: #318CE7;
}



/* media query  for medium screen*/
 @media screen and (max-width:992px) {
   .section-container{
      grid-template-columns: 30% 65%;
   } 
   .searchIcon{
      display: block;
   }
 
   .search-container{
      display: none;
   }
   .navbar>#wrapping1 {
      width: 5%;
      padding-left:0;
   }
   #wrapping2 {
      width: 95%;
   }
.right_pannel {
    grid-column: 2/2;
}
.newPostBtnContainer{
   display: flex;
}

 } 

/* media query for small screen */
 @media screen and (max-width:768px) {

 
    .navbar  a p, .meIcon > p,.forBusiness p {
      display: none;
    }
    .section-container{
      grid-template-columns: 100%;
      padding: 2.5rem ;
      
    }
    .searchContainer{
      padding-top: 1rem;
      height: 4rem;
      top:-2.2rem
    }
    .premiumPara{
      font-size: 0.6rem;
    }
    
   .middle_pannel{
      grid-row: 3/3;
    
   }
 
   .right_pannel{
      grid-column: 1/1;
      grid-row: 4/4;  
   }
   .showMoreContainer{
      display: none;
      padding-top: 1rem;
      
   }
   .showMoreBtnContainer {
       display: flex;
       align-items: center;
      
    }
    .connectionToMyitemsDiv{
      border-radius: 1rem;
    }
    .basic-details{
      border-bottom: 0.1rem solid silver;
      border-radius: 1rem ;
   }
   /* .basic-details2{
      display: none;
   } */

 .post-section{
   margin: 0;
 }
 .postContainer{
   margin: 0;
   margin-bottom: 0.5rem;
 }
 .horizontal_bar i{
   font-size: 1.3rem;
 }
}
/* media query for extra small screen */
@media screen and (max-width:576px) {
   html{
      font-size: 60%;
   }
   .premiumPara{
      font-size: 0.8rem;
   }

}